<p id="notice"><%= notice %></p>

<h1>Listing Work Orders</h1>

<table>
  <thead>
    <tr>
      <th>Wo nbr</th>
      <th>Description</th>
      <th>Employee</th>
      <th>Customer</th>
      <th>Hours</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= work_order.wo_nbr %></td>
        <td><%= work_order.description %></td>
        <td><%= work_order.employee %></td>
        <td><%= work_order.customer %></td>
        <td><%= work_order.hours %></td>
        <td><%= work_order.start_date %></td>
        <td><%= work_order.end_date %></td>
        <td><%= work_order.notes %></td>
        <td><%= link_to 'Show', work_order %></td>
        <td><%= link_to 'Edit', edit_work_order_path(work_order) %></td>
        <td><%= link_to 'Destroy', work_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Order', new_work_order_path %>
